{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Infobus</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    <style>
        .navbar-nav li:hover > .dropdown-menu {
            display: block;
        }</style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Infobus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="/buses">Linie</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="buses">Linie</a>#}
            {#            </li>#}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="/buses" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Linie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if bus_list %}
                        {% for bus in bus_list %}
                            <a class="dropdown-item" href="/bus/{{ bus }}"> {{ bus }} </a>
                        {% endfor %}
                    {% else %}
                        <a class="dropdown-item">Błąd pobierania linii</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="/stops" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Przystanki
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if stop_list %}
                        {% for stop in stop_list %}
                            <a class="dropdown-item" href="/stop/{{ stop }}"> {{ stop }} </a>
                        {% endfor %}
                    {% else %}
                        <a class="dropdown-item">Błąd pobierania przystanków</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>

<br>

{% block content %}  {% endblock content %}
</body>
</html>